<div class="container-fluid">
  
  <vini-loader *ngIf="loading$ | async; else notLoading"></vini-loader>

  <ng-template #notLoading>
    <ng-container *ngIf="!(error$ | async)">
      <h1>{{ (details$ | async).city.name }}, {{ (details$ | async).city.country }}</h1>

      <div class="card current-card">
        <vini-detailed-weather [weather]="(details$ | async).current"
                             [unit]="unit$ | async"></vini-detailed-weather>
      </div>

      <vini-daily-weather *ngFor="let daily of (details$ | async).daily"
                        [dailyWeather]="daily"
                        [timeZone]="(details$ | async).city.timeZone"
                        [unit]="unit$ | async"></vini-daily-weather>
    </ng-container>

    <div *ngIf="error$ | async">Erro</div>
  </ng-template>

</div>